:root {
    --neutral:#f9f4ef;
    --base-100:#020826;
    --neutral-focus:#020826;
    --accent:#8c7851;
    --secondary:#716040;
  }

  body {
    background-color: #f9f4ef;
  }
h1, p {
    font-family: sans-serif;
    color:#716040;
    text-align:center;
}
h1 {
    padding:10px;
    font-size:40px;
}
p {
    font-size:20px;
}
#select-label, .radios, #name-label, #email-label, #number-label, .team, .comments {
    font-family:"Montseratt", sans-serif;
    color:#716040;
    border-color:#f9f4ef;
    padding:20px;
}
.radios {
    padding:20px;
}
* {
    text-align:center;
}
.crew {
    width:50x;
}




